[Unit]
Description=meshtasticd
StartLimitIntervalSec=10
StartLimitBurst=2


[Service]
Type=simple
ExecStart=/home/ch/src/meshtastic-native/run.sh
Restart=on-failure

[Install]
WantedBy=default.target
